* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    background-color: rgb(42, 42, 42);
    color: white;
    overflow: hidden;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 2px;
    background-color: transparent;
}