* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    background-color: rgb(42, 42, 42);
    color: white;
    overflow: hidden;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    /* Uses Helvetica from body */
    font-size: 1rem;
    padding: 10px 20px;
    /* Gives buttons some size */
}